p {
    color: red;
}


ul:last-of-type > li:nth-child(2) {
font-weight: bold;
}

/*псевдокласс :first-of-type выбирает первого наследника указанного типа, т.е. первый список ul,
которому принадлежит прямой потомок li (>), который отсчитан как 2ой элемент списка*/

p+ul li:last-child{
color:blue;
}

/* один из вариантов преобразовать элемент списка это использование соседнего элемента*/

ul:nth-of-type(2) li:nth-child(2) {
    color: chartreuse;
    font-size: large;
}

/*можно использовать потомков типа и элемента с отсчетом практически как угодно*/